.about-section {
  @include media(desktop) {
  }
}

.about-section-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.about-container {
  padding: 0 16px;

  @include media(desktop) {
    padding: 0 73px;
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 688px;
  }
}

.about-title {
  text-align: left;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #693535;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 536px;
    margin: 0;
  }
}
