.characters-section {
  @include media(desktop) {
  }
}

.characters-section-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.characters-container {
  @include media(desktop) {
  }
}

.characters-title {
  @include media(desktop) {
  }
}

.characters-swiper-container {
  max-width: 232px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.characters-swiper-container.show {
  visibility: visible;
}

.characters-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 27px;
    width: 100%;
  }
}

.characters-list-item {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.01) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 28px 25px 21px;
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  max-width: 232px;
  min-height: 381px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 28px 12px;
    max-width: 313px;
    min-height: 524px;
    margin: 0;
  }
}

.characters-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include media(desktop) {
  }
}

.characters-item-title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #f0e8ff;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.characters-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.characters-dot {
  border-radius: 100%;
  background: #392164;
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  cursor: pointer;
}

.characters-dot.active {
  background: #392164;
  transform: scale(1.3);
}
