.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 42px;
  padding-bottom: 159px;
  margin: 0 auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 68px;
    padding-bottom: 310px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  padding: 0 25px;

  @include media(desktop) {
    padding: 0 151px;
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-text-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: left;

  @include media(desktop) {
  }
}

.contact-btn {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: #ff62a8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 6px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fffdfd;
  max-width: max-content;

  @include media(desktop) {
    padding: 9px 34px;
    font-size: 20px;
  }
}
