.features-section {
  @include media(desktop) {
  }
}

.features-section-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-swiper-container {
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

.features-list-item {
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-height: 242px;
    margin: 0;
  }
}

.features-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #693535;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #693535;

  @include media(desktop) {
    font-size: 16px;
  }
}

.features-dot {
  border-radius: 100%;
  background: rgba(105, 53, 53, 0.3);
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  cursor: pointer;
}

.features-dot.active {
  background: #693535;
  transform: scale(1.3);
}
