.gameplay-section {
  @include media(desktop) {
  }
}

.gameplay-section-wrapper {
  padding-top: 50px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    max-width: 1440px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-swiper-container {
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 100%;
  }
}

.gameplay-swiper-container.show {
  visibility: visible;
}

.gameplay-swiper-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
  }
}

.gameplay-list-item {
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  max-width: 227px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}

.gameplay-item-number {
  background: linear-gradient(135deg, #ffa3cc 0%, #ff62a8 100%);
  border: 1px solid #693535;
  border-radius: 45px;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 0.93333;
  text-align: center;
  color: #693535;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 65px;
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
  }
}

.gameplay-item-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: #693535;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gameplay-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #693535;

  @include media(desktop) {
    font-size: 16px;
  }
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 20px;

  @include media(desktop) {
    display: none;
  }
}

.arrow-btn {
  background: #693535;
  border: 1px solid transparent;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  width: 30px;
  height: 30px;
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:active {
  }

  @include media(desktop) {
    &:hover {
    }
  }

  &[disabled] {
    background: transparent;
    border-color: #693535;
    cursor: not-allowed;

    .arrow-icon {
      stroke: #693535;
    }

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  stroke: #fff;
  fill: none;
  transition: stroke 0.3s ease-in-out;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  @include media(desktop) {
  }
}

.gameplay-dot {
  border-radius: 100%;
  background: rgba(105, 53, 53, 0.3);
  width: 4px;
  height: 4px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  cursor: pointer;
}

.gameplay-dot.active {
  background: #693535;
  transform: scale(1.3);
}
