.header {
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.3),
    0 6px 10px 4px rgba(0, 0, 0, 0.15);
  background: #fcf9fe;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-wrapper {
  @include media(desktop) {
  }
}

.header-bg-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  padding: 0 23px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #693535;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #693535;
}
