.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 335px;
  padding-bottom: 335px;
  margin: 0 auto;
  background-image:
    url(../img/hero/hero-bg-mob.png), url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position:
    center center,
    bottom center;
  background-size: auto, cover;

  @include media(desktop) {
    padding-top: 383px;
    padding-bottom: 307px;
    background-image:
      url(../img/hero/hero-bg-desk.png), url(../img/hero/hero-bg-desk.jpg);

    background-position:
      center center,
      bottom center;
    background-size: auto, cover;
  }
}

.hero-container {
  padding: 0 14px;

  @include media(desktop) {
    padding: 0 164px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 0.93333;
  text-align: center;
  color: #693535;
  margin-bottom: 30px;

  @include media(desktop) {
    font-size: 80px;
    margin-bottom: 50px;
  }
}

.hero-span {
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #693535;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 41px;
  }
}

.hero-btn {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background: #ff62a8;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 5px 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo 2', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fffdfd;
  width: 100%;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding: 9px 112px;
    font-size: 20px;
  }
}
