<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            From simple merges to a living world
          </h2>
          <p class="about-text">
            It's like any other merge game you've probably played, except this
            time you're not just matching stuff for points - you're actually
            creating something cool. You match up the same items to get new
            stuff, and all of that helps you build up your little cat town.
            What's really cool is that every single merge you do actually
            changes your town somehow, and that instant feedback is weirdly
            addictive.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="536"
            height="385"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="246"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="246"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
