<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            Puzzles with a sense of adventure
          </h2>
          <p class="about-text">
            Royal Adventure offers a familiar match-3 core enhanced by a fantasy
            setting. Each completed level contributes to restoring locations and
            unlocking new areas across the kingdom. You can actually see your
            progress - it's pretty satisfying watching the kingdom come back to
            life.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="573"
            height="334"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="375"
            height="218"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="375"
            height="218"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
