<section class="advantages-section section" id="advantages">
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <h2 class="section-title advantages-title">
        What makes this game actually fun
      </h2>
      <div class="advantages-swiper-container">
        <ul class="swiper-wrapper advantages-swiper-wrapper">
          <li class="swiper-slide advantages-list-item">
            <picture>
              <source
                srcset="./img/advantages/advantages-img1-desk.png"
                media="(min-width: 1440px)"
                width="95"
                height="95"
              />
              <source
                srcset="./img/advantages/advantages-img1-desk.png"
                width="77"
                height="77"
              />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img1-desk.png"
                alt="Screenshot of the game"
                width="77"
                height="77"
                loading="lazy"
              />
            </picture>
            <h3 class="advantages-item-title">Fantasy Setting</h3>
            <p class="advantages-item-text">
              The whole world's got this bright, magical vibe going on.
            </p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <picture>
              <source
                srcset="./img/advantages/advantages-img2-desk.png"
                media="(min-width: 1440px)"
                width="95"
                height="95"
              />
              <source
                srcset="./img/advantages/advantages-img2-desk.png"
                width="77"
                height="77"
              />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img2-desk.png"
                alt="Screenshot of the game"
                width="77"
                height="77"
                loading="lazy"
              />
            </picture>
            <h3 class="advantages-item-title">Level Variety</h3>
            <p class="advantages-item-text">
              Different layouts and objectives keep gameplay fresh.
            </p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <picture>
              <source
                srcset="./img/advantages/advantages-img3-desk.png"
                media="(min-width: 1440px)"
                width="95"
                height="95"
              />
              <source
                srcset="./img/advantages/advantages-img3-desk.png"
                width="77"
                height="77"
              />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img3-desk.png"
                alt="Screenshot of the game"
                width="77"
                height="77"
                loading="lazy"
              />
            </picture>
            <h3 class="advantages-item-title">Smooth Progression</h3>
            <p class="advantages-item-text">Gradual increase in challenge.</p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <picture>
              <source
                srcset="./img/advantages/advantages-img4-desk.png"
                media="(min-width: 1440px)"
                width="95"
                height="95"
              />
              <source
                srcset="./img/advantages/advantages-img4-desk.png"
                width="77"
                height="77"
              />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img4-desk.png"
                alt="Screenshot of the game"
                width="77"
                height="77"
                loading="lazy"
              />
            </picture>
            <h3 class="advantages-item-title">Visual Feedback</h3>
            <p class="advantages-item-text">
              Each match gives you that little dopamine hit - you know you're
              making a difference.
            </p>
          </li>
          <li class="swiper-slide advantages-list-item">
            <picture>
              <source
                srcset="./img/advantages/advantages-img5-desk.png"
                media="(min-width: 1440px)"
                width="95"
                height="95"
              />
              <source
                srcset="./img/advantages/advantages-img5-desk.png"
                width="77"
                height="77"
              />
              <img
                class="advantages-img"
                src="./img/advantages/advantages-img5-desk.png"
                alt="Screenshot of the game"
                width="77"
                height="77"
                loading="lazy"
              />
            </picture>
            <h3 class="advantages-item-title">Accessible Gameplay</h3>
            <p class="advantages-item-text">Easy to learn and play anytime.</p>
          </li>
        </ul>
      </div>
      <div class="controls advantages-controls">
        <button
          class="arrow-btn"
          id="advantagesLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="advantages-dot active"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
          <div class="advantages-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="advantagesRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
