<section class="characters-section section" id="characters">
  <div class="characters-section-wrapper">
    <div class="container characters-container">
      <h2 class="section-title characters-title">Faces of the kingdom</h2>
      <div class="characters-swiper-container">
        <ul class="swiper-wrapper characters-swiper-wrapper">
          <li class="swiper-slide characters-list-item">
            <picture>
              <source
                srcset="./img/characters/characters-img1-desk.png"
                media="(min-width: 1440px)"
                width="179"
                height="319"
              />
              <source
                srcset="./img/characters/characters-img1-desk.png"
                width="98"
                height="176"
              />
              <img
                class="characters-img"
                src="./img/characters/characters-img1-desk.png"
                alt="Screenshot of the game"
                width="98"
                height="176"
                loading="lazy"
              />
            </picture>
            <h3 class="characters-item-title">Elric — The Young King</h3>
            <p class="characters-item-text">
              This young king who's basically trying to fix everything that went
              wrong in his kingdom. Guides the player through early stages.
            </p>
          </li>
          <li class="swiper-slide characters-list-item">
            <picture>
              <source
                srcset="./img/characters/characters-img2-desk.png"
                media="(min-width: 1440px)"
                width="179"
                height="319"
              />
              <source
                srcset="./img/characters/characters-img2-desk.png"
                width="98"
                height="176"
              />
              <img
                class="characters-img"
                src="./img/characters/characters-img2-desk.png"
                alt="Screenshot of the game"
                width="98"
                height="176"
                loading="lazy"
              />
            </picture>
            <h3 class="characters-item-title">Lyra — The Court Mage</h3>
            <p class="characters-item-text">
              Provides magical assistance and introduces special abilities.
            </p>
          </li>
          <li class="swiper-slide characters-list-item">
            <picture>
              <source
                srcset="./img/characters/characters-img3-desk.png"
                media="(min-width: 1440px)"
                width="179"
                height="319"
              />
              <source
                srcset="./img/characters/characters-img3-desk.png"
                width="98"
                height="176"
              />
              <img
                class="characters-img"
                src="./img/characters/characters-img3-desk.png"
                alt="Screenshot of the game"
                width="98"
                height="176"
                loading="lazy"
              />
            </picture>
            <h3 class="characters-item-title">Borin — The Builder</h3>
            <p class="characters-item-text">
              Responsible for reconstruction. Represents progression and
              upgrades.
            </p>
          </li>
          <li class="swiper-slide characters-list-item">
            <picture>
              <source
                srcset="./img/characters/characters-img4-desk.png"
                media="(min-width: 1440px)"
                width="179"
                height="319"
              />
              <source
                srcset="./img/characters/characters-img4-desk.png"
                width="98"
                height="176"
              />
              <img
                class="characters-img"
                src="./img/characters/characters-img4-desk.png"
                alt="Screenshot of the game"
                width="98"
                height="176"
                loading="lazy"
              />
            </picture>
            <h3 class="characters-item-title">Mira — The Explorer</h3>
            <p class="characters-item-text">
              Unlocks new areas and encourages discovery beyond the castle.
            </p>
          </li>
        </ul>
      </div>
      <div class="controls characters-controls">
        <button
          class="arrow-btn"
          id="charactersLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="characters-dot active"></div>
          <div class="characters-dot"></div>
          <div class="characters-dot"></div>
          <div class="characters-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="charactersRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
