<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Why this game stands out</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-list-item">
            <div class="features-icon-wrapper">
              <svg class="about-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-features1"></use>
              </svg>
            </div>
            <h3 class="features-item-title">Visible Progress</h3>
            <p class="features-item-text">
              You see the kingdom change as you play.
            </p>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-icon-wrapper">
              <svg class="about-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-features2"></use>
              </svg>
            </div>
            <h3 class="features-item-title">Balanced Gameplay</h3>
            <p class="features-item-text">Relaxing but still engaging.</p>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-icon-wrapper">
              <svg class="about-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-features3"></use>
              </svg>
            </div>
            <h3 class="features-item-title">Fantasy Atmosphere</h3>
            <p class="features-item-text">A consistent and appealing world.</p>
          </li>
          <li class="swiper-slide features-list-item">
            <div class="features-icon-wrapper">
              <svg class="about-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-features4"></use>
              </svg>
            </div>
            <h3 class="features-item-title">Short Sessions</h3>
            <p class="features-item-text">
              Play anytime without long commitments.
            </p>
          </li>
        </ul>
      </div>
      <div class="controls features-controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="features-dot active"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
          <div class="features-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
