<section class="gameplay-section section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">How It Works</h2>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img1-desk.png"
              media="(min-width: 1440px)"
              width="97"
              height="97"
            />
            <source
              srcset="./img/gameplay/gameplay-img1-desk.png"
              width="64"
              height="64"
            />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1-desk.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
          </picture>
          <h3 class="gameplay-item-title">Match Gems</h3>
          <p class="gameplay-item-text">
            Combine three or more elements to clear them from the board.
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img2-desk.png"
              media="(min-width: 1440px)"
              width="97"
              height="97"
            />
            <source
              srcset="./img/gameplay/gameplay-img2-desk.png"
              width="64"
              height="64"
            />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2-desk.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
          </picture>
          <h3 class="gameplay-item-title">Create Power Moves</h3>
          <p class="gameplay-item-text">
            Build larger matches to trigger magical effects.
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img3-desk.png"
              media="(min-width: 1440px)"
              width="97"
              height="97"
            />
            <source
              srcset="./img/gameplay/gameplay-img3-desk.png"
              width="64"
              height="64"
            />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3-desk.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
          </picture>
          <h3 class="gameplay-item-title">Complete Tasks</h3>
          <p class="gameplay-item-text">
            Finish level objectives to progress further.
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img4-desk.png"
              media="(min-width: 1440px)"
              width="97"
              height="97"
            />
            <source
              srcset="./img/gameplay/gameplay-img4-desk.png"
              width="64"
              height="64"
            />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4-desk.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
          </picture>
          <h3 class="gameplay-item-title">Advance the Journey</h3>
          <p class="gameplay-item-text">
            Move through new locations and challenges.
          </p>
        </li>
        <li class="gameplay-list-item">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img5-desk.png"
              media="(min-width: 1440px)"
              width="97"
              height="97"
            />
            <source
              srcset="./img/gameplay/gameplay-img5-desk.png"
              width="64"
              height="64"
            />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img5-desk.png"
              alt="Screenshot of the game"
              width="64"
              height="64"
              loading="lazy"
            />
          </picture>
          <h3 class="gameplay-item-title">Unlock Areas</h3>
          <p class="gameplay-item-text">
            Restore parts of the kingdom step by step.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
