<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            Match, Explore, <span class="hero-span">and Restore</span> the
            Kingdom.
          </h1>
          <p class="hero-text">Every move brings magic back to life.</p>
          <a
            class="hero-btn"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.dreamspark.royal.adventure&hl=en&gl=us"
            rel="noopener noreferrer"
            aria-label="Download on Google Play"
            >Play on Google Play</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
