<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Player Feedback</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">MagicPlayer</p>
            <p class="reviews-item-text">
              “Beautiful visuals and very relaxing gameplay.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Anna L.</p>
            <p class="reviews-item-text">
              “Nice fantasy theme and smooth progression.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">PuzzleKnight</p>
            <p class="reviews-item-text">
              “Great match-3 with a strong atmosphere.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Leo S.</p>
            <p class="reviews-item-text">
              “Easy to play and visually enjoyable.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">RoyalFan</p>
            <p class="reviews-item-text">
              “Love the characters and the world.”
            </p>
          </li>
        </ul>
      </div>
      <div class="controls reviews-controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="reviews-dot active"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
