<section class="reviews-section section" id="reviews">
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <h2 class="section-title reviews-title">Reviews</h2>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">CatLover</p>
            <p class="reviews-item-text">
              “Been playing this for weeks now and it's become my go-to
              wind-down game. The cats are ridiculously cute and it never feels
              stressful.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Anna M.</p>
            <p class="reviews-item-text">
              “The drag-and-drop feels really responsive, and honestly the art
              style is way better than I expected for a mobile game.”
            </p>
          </li>
          <li class="reviews-item-break"></li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Merge Fan</p>
            <p class="reviews-item-text">
              “Nice progression and easy to play.”
            </p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>
            <p class="reviews-item-name">Leo K.</p>
            <p class="reviews-item-text">“Perfect for casual sessions.”</p>
          </li>
          <li class="swiper-slide reviews-list-item">
            <div class="reviews-item-rating-wrapper">
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="star-icon" width="23" height="23">
                <use href="./img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>
            <p class="reviews-item-name">TownBuilder</p>
            <p class="reviews-item-text">
              “Feels satisfying to grow the town.”
            </p>
          </li>
        </ul>
      </div>
      <div class="controls reviews-controls">
        <button
          class="arrow-btn"
          id="reviewsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="reviews-dot active"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
          <div class="reviews-dot"></div>
        </div>
        <button
          class="arrow-btn"
          id="reviewsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
